// Variables
// * * * * * * * * * * * * * * * * * * * * * * * * * * *

// Colors

$blue:#0069a0;
$teal:#1bb9b5;
$grey:#777;
$ltgrey:#f5f5f5;
$dkgrey:#ebebeb;
$white:#fff;

// Padding & Margins

$margin:20px;
$padding:20px;
$row-padding:20px 0;

// Border

$border-size:1px;
$stroke:solid;

// Font

$Helvetica:"Helvetica Neue", Helvetica, Arial, sans-serif;